<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
<link rel="stylesheet" th:href="@{/css/home/user_home_login.css}">


    <table class="titleName">
        <tr>
          <td>
            <h3>베스트셀러</h3>
          </td>  
        </tr>     
      </table>

    <div class="cards" id ="bestseller">
        <div class="card">
            <img th:src="@{/images/best1.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    영어 필사 100일의 기적
                </p>
                <p>
                    퍼포먼스코치 리아
                </p>
            </div>
        </div>

    </div>

    <br>

    <table class="titleName">
        <tr>
          <td>
            <h3>새로 나온 신간</h3>
          </td>  
        </tr>     
      </table>

    <div class="cards" id="newBook">
    </div>

    <script type="text/javascript">

        function getBestSeller() {

            $.ajax({
                url: "/home/bestseller",
                type: "GET",
                data: null,
                dataType: "json"
            }).done(function(data){
                drawBooks('bestseller', data.bestSeller);
            });
        }

        function getNewBook() {

            $.ajax({
                url: "/home/newbook",
                type: "GET",
                data: null,
                dataType: "json"
            }).done(function(data){
                drawBooks('newBook', data.newBook);
            });
        }

        function drawBooks(target, data) {
            var bookDiv = $('#' + target);
            bookDiv.empty();

            $.each(data, function(index, obj){
          //     console.log(obj)
                var cardDiv = $('<div class="card"></div>')
                var img = '<img src="' + obj.imgUrl + '" alt="" class="card__image">'

                cardDiv.append(img);
                var content = '  <div class="card__content">\n' +
                    '                        <p>\n' +
                     obj.itemName +'\n' +
                    '                        </p>\n' +
                    '                    </div>';

                cardDiv.append(content);
                bookDiv.append(cardDiv);

                cardDiv.on('click', function(event) {
                   location.href = '/product/LookProductUser?itemId=' + obj.itemId;
                });

            });


        }


        $(document).ready(function(){
            getBestSeller();
            getNewBook();
        })


    </script>
</div>


</html>