<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login/signup.css}">
    <title>회원가입</title>
</head>
<body>
    <!-- As a heading -->
    <nav class="navbar navbar-expend-sm bg-light navbar-light justify-content-center">
        <ul class="navbar-nav">
            <a href="/"><span class="navbar-brand mb-0 h1">BITBOOKS</span></a>
        </ul>
    </nav>

    <h2>
        <td colspan="3">회원가입</td>
    </h2>
        <div>
            <ul id="join">
                <li>
                    <ul class="cols">
                        <li class="col1">아이디</li>
                        <li class="col2"><input type="text" id="userId" name="userId"></li>
                        <button type="button" onclick="checkId()">중복확인</button>
                    </ul>
                </li>
                <li>
                    <ul class="cols">
                        <li class="col1">비밀번호</li>
                        <li class="col2"><input type="password" id="userPw" name="userPw"></li>
                    </ul>
                </li>
                <li>
                    <ul class="cols">
                        <li class="col1">비밀번호 확인</li>
                        <li class="col2"><input type="password" id="pwConfirm" name="pwConfirm"></li>
                    </ul>
                </li>
                <li>
                    <ul class="cols">
                        <li class="col1">이름</li>
                        <li class="col2"><input type="text" id="userName" name="userName"></li>
                    </ul>
                </li>
                <li>
                    <ul class="cols">
                        <li class="col1">선호 장르</li>
                            <select class="custom-select" id="genre" name="genre">
                                <option selected>선호 장르 선택</option>
                                <option value="00" selected="selected">소설</option>
                                <option value="01">외국어</option>
                                <option value="02">취미</option>
                                <option value="03">직업</option>
                                <option value="04">요리</option>
                            </select>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="buttons">
            <button type="button" onclick="signup();">저장하기</button>
        </div>
</body>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript">
    //검사결과
    var isChecked = false;
    var duplicated_id = false;

    function checkId() {

        //검사하기 위해서 초기화
        isChecked = false;
        duplicated_id = false;

        var userId = $('#userId').val();

        if($.trim(userId).length == 0) {
            alert('아이디를 입력하십시오.');
        }else {
            //중복체크는 우선 했음
            isChecked = true;

            var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

            if (userId.match(regExp) == null) {
                alert('이메일 형식이 아닙니다.');
                return false;
            }

            $.ajax({
                url : '/user/checkId',
                type : "get",
                dataType :'json',
                data : {
                    'userId' : userId
                }
            }).done(function(data){
                console.log(data);
                if(data.duplicated) {
                    duplicated_id = true;
                    alert('이미 등록된 ID 입니다.')
                }else {
                    alert('등록가능한 ID 입니다.')
                }
            }).fail(function(request, status, error){
                console.log(error)
            });
        }
    }

    function validation () {

        var userId = $('#userId');
        var userPw = $('#userPw');
        var userName = $('#userName');
        var pwConfirm = $('#pwConfirm');

        if ($.trim(userId.val()).length == 0) {
            alert('아이디를 입력하십시오.');
            userId.focus();
            return false;
        }

        if ($.trim(userPw.val()).length == 0) {
            alert('비밀번호를 입력하십시오.');
            userPw.focus();
            return false;
        }

        if ($.trim(pwConfirm.val()).length == 0) {
            alert('비밀번호 확인을 입력하십시오.');
            pwConfirm.focus();
            return false;
        }

        if ($.trim(userName.val()).length == 0) {
            alert('이름을 입력하십시오.');
            userName.focus();
            return false;
        }

        if(userPw.val() !== pwConfirm.val()) {
            alert('비밀번호와 확인이 일치하지 않습니다.');
            return  false;
        }

        if(!isChecked) {
            alert("아이디 중복체크 하세요.");
            return false;
        }

        if(duplicated_id) {
            alert('이미등록된 ID 입니다. 새로운 ID를 작성 후 중복체크하세요.');
            return false;
        }

        return true;
    }


    function signup() {

        if(validation()) {

            var param  ={
                userId : $('#userId').val(),
                userPw: $('#userPw').val(),
                userName: $('#userName').val(),
                genre : $('#genre').val()
            }

            $.ajax({
                url : '/user/signup',
                type : "post",
                dataType :'json',
                data : param
            }).done(function(data){
                console.log(data);
                if(data.resultCode == 200) {
                    alert('회원등록이 완료되었습니다.');
                    location.href = '/';
                }else {
                    alert('회원등록이 실패하였습니다.');
                    return false;
                }
            }).fail(function(request, status, error){
                console.log(error)
            });
        }
    }

</script>
</html>