<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../../../../../../Downloads/이효은/작업완료!/bootstrap.css">
    <link rel="stylesheet" href="noticeboard.css">
</head>

<body>
    <div id="main_wrap">
     <header>
         header
      </header>
     <nav>
         nav
     </nav>

     <section>

      <table class="titleName">
        <tr>
          <td>
            <h1>공지 사항</h1>
          </td>
          
        </tr>
          
      
      </table>
      
      <hr>

      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>날짜</th>
            </tr>
          </thead>
          <thead>
          <tbody>
            <tr>
              <td>10</td>
              <td><a href="#">열번째 공지사항</a></td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>9</td>
              <td>아홉번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>8</td>
              <td>여덟번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>7</td>
              <td>일곱번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>6</td>
              <td>여섯번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>5</td>
              <td>다섯번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>4</td>
              <td>네번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>3</td>
              <td>세번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>2</td>
              <td>두번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
            <tr>
              <td>1</td>
              <td>첫번째 공지사항</td>
              <td>2022.02.11</td>
            </tr>
          </tbody>
        </thead>
      </table>

      </div>

        
     </section>

        <div>
        <aria-label="Page navigation example">
        
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
     </div>
    <Br>
        

     <footer>footer</footer>
   </div>
</body>
</html>