<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.books.bitbooks.coin.mapper.CoinMapper">

	<!-- coinHistoryColumns의 컬럼목적..-->
    <!-- sql테이블컬럼구조 변경대비 테이블 전체컬럼을 sql조각으로 정의해둠 -->
    
    <sql id="coinHistoryColumns">
    	  user_no
    	, amount	
    </sql>
    
    <insert id="insertCoinHistory" parameterType="kr.books.bitbooks.coin.vo.CoinHistoryVo">
    	insert into coin_history ( 
    		<include refid="coinHistoryColumns"/>
    	) values (
    		#{userNo}
    		, #{amount}
    	)
    </insert>
    
    <!-- 전체 갯수 -->
    <select id="getCoinHistoryCount" parameterType="int" resultType="int">
        select count(*) as cnt 
        from coin_history
        where user_no = ${userNo}
    </select>

	<!-- 페이지 
    <select id="getCoinHistoryList"  
    		parameterType="kr.books.bitbooks.common.vo.PagingVO"
    				resultType="kr.books.bitbooks.coin.vo.CoinHistoryVo">
        select *
        from coin_history
        where user_no = ${userNo}
        order by reg_date desc
        LIMIT ${startRow}, ${countPerPage}
      
    </select>-->
    
    
    	<!-- 페이지 -->
    <select id="getCoinHistoryList"  
    	parameterType="hashmap"
    			resultType="kr.books.bitbooks.coin.vo.CoinHistoryVo">
        select *
        from coin_history
        where user_no = ${userNo}
        order by reg_date desc
        LIMIT ${page.startRow}, ${page.countPerPage}
      
    </select>
    
    
</mapper>