<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">

    <style>
        .divElement {
            position: absolute;
            top: 40%;
            left: 50%;
            margin-top: -200px;
            margin-left: -100px;
            width: 100px;
            height: 100px;
        }
    </style>
    <title>로그인</title>
</head>
<body>
    <!-- As a heading -->
    <nav class="navbar navbar-expend-sm bg-light navbar-light justify-content-center">
        <ul class="navbar-nav">
            <a href="/"><span class="navbar-brand mb-0 h1">BITBOOKS</span></a>
        </ul>
    </nav>
    
    <h2>
        <td colspan="3">로그인</td>
    </h2>
    <div class="divElement">
        <table>
            <tr>
                <td id="col1">아이디</td>
                <td><input type="text" id="userId" name="userId"></td>

            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" id="userPw" name="userPw"></td>
            </tr>
            <tr>
                <td rowspan="2"><button type="button" onclick="goLogin();">로그인</button></td>
                <td rowspan="2"><button>회원가입</button></td>        
            </tr>
        </table>
    </div>
</body>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript">

    function validation() {
        var userId = $('#userId');
        var userPw = $('#userPw');

        if($.trim(userId.val()).length == 0) {
            alert('아이디를 입력하시오.');
            userId.focus();
            return false;
        }

        if($.trim(userPw.val()).length == 0) {
            alert('패스워드를 입력하시오.');
            userPw.focus();
            return false;
        }

        return true;

    }

    function goLogin() {

        if(validation()) {

            //ajax 기술을 쓴다.
            $.ajax({
                url : '/login',
                type : "POST",
                dataType :'json',
                data : {
                         'userId' : $('#userId').val(),
                         'userPw' : $('#userPw').val()
                       }
            }).done(function (data){
                if(data.resultCode === 200) {
                    location.href ='/'
                }else {
                    alert(data.resultMsg)
                }
            }).fail(function(xhr, status, error){
                console.log(error)
            });


        }
    }



</script>
</html>
