<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">
<div  layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/product/gallery.css}">
    <div style="margin-top:100px">
        <div style="margin-bottom:40px">
        </div>
        <div class="container columns">
            <div class="product-item" th:each="obj :${prdList}">
                <img th:src="${obj.imgUrl}"style="width:450px;height:450px">
                <div class="product-list">
                    <h3><span th:text="${obj.itemName}"></span></h3>
                    <span class="price"><span th:text="${obj.price}"></span></span>
                    <a th:href="@{/product/LookProductUser(itemId=${obj.itemId})}" class="button">상세보기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
