<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/product/prods.css}">

<div class="list con" style="margin-top:100px">
    <ul class="row">
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_01_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_02_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_03_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_04_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_05_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_06_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_07_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_08_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_09_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_10_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_11_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_12_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_13_list.jpg" alt=""></div>
            <div class="product-name">단가라 ops</div>
            <div class="product-price">19800</div>
        </li>
        <li class="cell">
            <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_14_list.jpg" alt=""></div>
        </li>
    </ul>
</div>
</div>
</html>